<%= erb :chart_scripts %>
<h1>Dashboard</h1>
<h2>Average Robot Age: <%= @robot_analytics.average_age%></h2>

<div class="row">
  <div class=col-md-6><div id="chart_year_hired"></div></div>
  <div class=col-md-6><div id="chart_department"></div></div>
</div>

<div class="row">
  <div class=col-md-6><div id="chart_city"></div></div>
  <div class=col-md-6><div id="chart_state"></div></div>
</div>
