<h1>Welcome to Robot World</h1>
<%= erb :chart_scripts %>
<div class="list-group">
  <a class="list-group-item" href="/robots">Robots</a>
  <a class="list-group-item" href="/robots/new">New Robot</a>
</div>
<h2>Average Robot Age: <%= @robot_analytics.average_age%></h2>
<div id="chart_year_hired"></div>
<div id="chart_department"></div>
<div id="chart_city"></div>
<div id="chart_state"></div>
