<!DOCTYPE html>
<html lang="en">
  <head>
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' rel='stylesheet'>
    <title>Robot World</title>
  </head>
  <body>
    <div class='col-md-12 navbar navbar-default navbar-static-top'>
      <a href='/' class='navbar-brand'>Robot World</a>
      <ul class='nav navbar-nav navbar-right'>
        <li><a href="/robots">Robots</a></li>
        <li><a href="/robots/new">New Robot</a></li>
      </ul>
    </div>
    <div class="container">
      <%= yield %>
    </div>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
  </body>
</html>
