<h1>New Robot</h1>
<form action="/robots" method="post" role="form">
  <p>Create a new robot:</p>
  <div class="form-group">
    <p>Name:</p>
    <input type='text' class="form_control" name='robot[name]'/><br/>
  </div>
  <div class="form-group">
    <p>City:</p>
    <input type='text' class="form_control" name='robot[city]'/><br/>
  </div>
  <div class="form-group">
    <p>State:</p>
    <input type='text' class="form_control" name='robot[state]'/><br/>
  </div>
  <div class="form-group">
    <p>Avatar (link):</p>
    <input type='text' class="form_control" name='robot[avatar]'/><br/>
  </div>
  <div class="form-group">
    <p>Birthdate (link):</p>
    <input type='text' class="form_control" name='robot[birthdate]'/><br/>
  </div>
  <div class="form-group">
    <p>Date hired:</p>
    <input type='text' class="form_control" name='robot[date_hired]'/><br/>
  </div>
  <div class="form-group">
    <p>Department:</p>
    <input type='text' class="form_control" name='robot[department]'/><br/>
  </div>
  <div class="form-group">
    <input class="form_control btn btn-default" type='submit'/>
  </div>
</form>
